.exercise-card(ng-form='ce')
  .exercise-card-info
    h2.t-title-small.exercise-title {{::exercise.currentExercise.title}}
    p.t-paragraph.exercise-description {{exercise.currentExercise.description}}

  .l-grid-wrap
    .l-grid.code-editor-wrap
      .l-grid-cell.l-one-half.l-mobile-one-whole
        code-editor(
          name='exercise',
          language='topic.language',
          ng-model= 'exercise.currentExercise.userSolution',
          orig-model='::exercise.content',
          libs-loader="exercise.libsLoader",
          on-error="exercise.onError",
          on-success='exercise.onSuccess',
          no-mark
        )

      .l-grid-cell.l-one-half.l-mobile-one-whole
        div(ui-view="")

  button.button(ng-click='exercise.giveUp();solutionClicked = !solutionClicked')
    | {{!solutionClicked && 'Show' || 'Hide'}} solution

