h2 {{::exercise.title}}

div(class="l-grid")
  div(class="l-column")
    code-editor(
      language='topic.language',
      init-value='exercise.content',
      libs-loader="exercise.libsLoader",
      on-error="exercise.onError",
      on-success='exercise.onSuccess'
    )

  div(class="l-column")
    div(ui-view="")

button.button(ng-hide='exercise.isSolution()' type='button' ng-click="exercise.giveUp()")
  | Give up
