form(ng-submit='editTopic.submit()')
  label(for='language') Language
  select(name='language' ng-model="editTopic.language")
    option(value='typescript')
      | Typescript
    option(value='javascript')
      | Javascript

  label(for='title') Title
  input(name='title' ng-model='editTopic.title')

  ul
    li(ng-repeat='item in editTopic.items')
      label(for='description') Description
      textarea(name='description')
      code-editor(
      language='editTopic.language',
      init-value='editTopic.initValue',
      libs-loader="editTopic.libsLoader",
      on-error="editTopic.onError",
      on-success='editTopic.onSuccess'
      )
      code-editor(
      language='editTopic.language',
      init-value='editTopic.initSolution',
      libs-loader="editTopic.libsLoader",
      on-error="editTopic.onError",
      on-success='editTopic.onSuccess'
      )
      button(name='delete' ng-click='editTopic.removeExercise($index)') Delete
  button(name='add' ng-click='editTopic.addExercise()') Add
  button(type='submit') Submit
  a(ui-sref='home') Cancel
