form(ng-submit='editTopic.submit()' name='editTopicForm')
  label(for='language') Language
  select(name='language' ng-model="editTopic.topic.language")
    option(value='typescript')
      | Typescript
    option(value='javascript')
      | Javascript

  label(for='title') Title
  input(name='title' ng-model='editTopic.topic.title' required='')
  p(ng-show='editTopicForm.title.$invalid') Title is required

  ul
    li(ng-repeat='item in editTopic.topic.items' ng-form='ex')
        label(for='title') Title
        input(name='title' ng-model='ex.item.title')
        label(for='description') Description
        textarea(name='description' ng-model='ex.item.description' required='')
        p {{ex.description.$error | json}}
        code-editor(
        required='',
        on-error= 'editTopic.onExerciseError(this.ex.exercise)',
        on-success= 'editTopic.onExerciseSuccess(this.ex.exercise)',
        name='exercise',
        language='editTopic.topic.language',
        libs-loader='editTopic.libsLoader',
        ng-model='ex.item.exercise'
        )
        p {{ex.exercise.$error | json}}
        p(ng-show='ex.exercise.$invalid') Errors
        code-editor(
        required='',
        on-error= 'editTopic.onSolutionError(this.ex.solution)',
        on-success= 'editTopic.onSolutionSuccess(this.ex.solution)',
        name='solution',
        language='editTopic.topic.language',
        libs-loader='editTopic.libsLoader',
        ng-model='ex.item.solution'
        )
        p {{ex.solution.$error | json}}
        p(ng-show='ex.solution.$invalid') Errors

        button(name='delete' ng-click='editTopic.removeExercise($index)' ng-show='!$first') Delete
  button(type='button' name='add' ng-click='editTopic.addExercise()') Add
  button(type='submit' ng-disabled='editTopicForm.$invalid') Submit
  a(ui-sref='home') Cancel
  p {{editTopicForm.ex.exercise | json}}
