.exercise-card(ng-form="ce")
  .exercise-card-info
    h2(ng-if="exercise.currentExercise.title").t-title-small.exercise-title {{::exercise.currentExercise.title}}
    p.t-paragraph.exercise-description {{::exercise.currentExercise.description}}

  .l-grid-wrap
    .l-grid.code-editor-wrap
      .l-grid-cell.l-one-half.l-mobile-one-whole
        code-editor(
        name="exercise",
        language="topic.programmingLanguage",
        ng-model= "exercise.currentExercise.userSolution",
        libs-loader="exercise.libsLoader",
        on-error="exercise.onError",
        on-success="exercise.onSuccess",
        no-edit-mark,
        same-as-except-edit-mark="exercise.content",
        hidden-text="exercise.hidden"
        )

      .l-grid-cell.l-one-half.l-mobile-one-whole
        div(ui-view="")

  button.button(ng-click="exercise.giveUp();solutionClicked = !solutionClicked")
    | {{!solutionClicked && "Show" || "Hide"}} solution

  button.button.button-prev(ng-show="exercise.hasPreviousExercise()" type="button" ng-click="exercise.previousExercise()")
    | Previous

  button.button.button-next(ng-show="exercise.hasNextExercise() && (exercise.getCurrentExercise().solved || exercise.getCurrentExercise().solutionRequested)" type="button" ng-click="exercise.nextExercise()")
    | Next

